body{
    color: #000000;
    font-family: Quicksand, Verdana, 'Times New Roman';
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}
.bg{
  background: url("../images/bg.jpg"), #f1f1f1;
  background-size: cover;
  padding: 10px;
  }
h1{
    font-size: 30px;
    text-align: center;
    font-style: italic;
    padding: 15px;
    font-family: Quicksand;
}
h2{
    font-size: 16px;
    text-align: left;
    margin: 0 35px 0 35px;
}
p{
    font-size: 12px;
    text-align: left;
    margin: 0 35px 10px 35px;
}
p:hover:nth-child(3n){
    font-size: 15px;
    font-weight: bold;
    color: darkslateblue;
}
.skip{
  left: -500px;
  position: absolute;
}
.container {
    height: auto;
    width: 350px;
    position: relative;
    display: inline-block;
    border: solid 16px white;
  }
.container img{
    display: block;
    width: 350px;
    height: auto;
    position: relative;
    border: solid 16px white;
    margin: 2px;
  }

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(1, 1, 70);
  }
.container:hover .overlay {
    opacity: 0.7;
  }

.containerFlex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerFlex img{
  width: 350px;
  height: auto;
  border: solid 16px white;
  margin: 2px;
}


.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
nav{
  background-color: rgb(182, 178, 240);
  margin: 0 35px 0 35px;
  overflow: hidden;
}
nav li{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
}
a{
    color: navy;
    font-style: italic;
    text-decoration: underline;
    margin-left: 35px;
  }
    
nav li a:hover{
    color: white;
    background-color: navy;
    font-style: italic;
  }
nav li a.current{
    color: white;
    background: navy;
  }
 nav li a:active {
    color: rgb(183, 0, 255);
  }

  @keyframes example {
    from {
    width: 400px;
    opacity: 0;
    }
    to {
    width: 1150px;
    opacity: 1;
    }
 }
    
 img[src = "images/landscape-1.jpg"] {
    animation-name: example;
    animation-duration: 10s; 
    animation-iteration-count: 1;
}

@media screen and (prefers-reduced-motion: reduce){
  img[src = "images/landscape-1.jpg"] {
      animation: none;
  }
}   

img[src = "images/landscape-1.jpg"]{
  width:1150px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

form label{
  font-weight: bold
}
fieldset label, input, textarea{
  display: block;
  justify-items: center;
  margin: 0 35px 10px 35px;
  width: 400px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  row-gap: 20px;
}
.grid img{
  width: 100%;
  height: auto;
 

}


.cheetah-text{
  grid-column: 3 / span 2;
  grid-row: 9 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
.cubs-text{
  grid-column: 3 / span 2;
  grid-row: 10 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
.tiger-text{
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
.tiger-image{
  grid-column: 1/ -1;
  grid-row: 1 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.lion-text{
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
 }
.lion-image{
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  max-height: 500px;
  overflow: hidden;
 }
 .giraffe-text{
  grid-column: 3 / span 2;
  grid-row: 3 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
.giraffe-image{
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.heron-text{
  grid-column: 3 / span 2;
  grid-row: 4 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
 .heron-image{
  grid-column: 1 / -1;
  grid-row: 4 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.catcher-text{
  grid-column: 3 / span 2;
  grid-row: 5 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
.catcher-image{
  grid-column: 1/-1;
  grid-row: 5 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.anhinga-text{
  grid-column: 3 / span 2;
  grid-row: 6 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
 }
.anhinga-image{
  grid-column: 1 / -1;
  grid-row: 6 / span 1;
  max-height: 500px;
  overflow: hidden;
 }
 .turtle-text{
   grid-column: 3 / span 2;
   grid-row: 7 / span 1;
   background-color: rgb(1, 1, 70);
   opacity: 0.7;
   max-height: 500px;
   color: white;
   font-size: 18px;
 }

.turtle-image{
  grid-column: 1 / -1;
  grid-row: 7 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.gator-text{
  grid-column: 3 / span 2;
  grid-row: 8 / span 1;
  background-color: rgb(1, 1, 70);
  opacity: 0.7;
  max-height: 500px;
  color: white;
  font-size: 18px;
}
 .gator-image{
  grid-column: 1 / -1;
  grid-row: 8 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.cheetah-image{
  grid-column: 1/-1;
  grid-row: 9 / span 1;
  max-height: 500px;
  overflow: hidden;
}
.cubs-image{
  grid-column: 1 / -1;
  grid-row: 10 / span 1;
  max-height: 500px;
  overflow: hidden;
 }

